@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../background/back4.jpg);
    background-size: cover;
    background-position: center;
}
.edit-container
{
    width: 400px;
    height: 230px;
    box-shadow: 3px 4px 5px rgba(0,0,0,0.4),-1px -1px 2px rgba(0,0,0,0.4);
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}
.edit-container .title
{
    padding:0px 20px ;
    width: 100%;
    margin: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}
.edit-container .title button
{
    background-color: black;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    padding: 0px 10px;
    z-index: 1;
    position: relative;
    
}
.edit-container .title button::before
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    border-radius: 5px;
    background: linear-gradient(to bottom,rgba(31, 168, 231, 0.836),rgba(34, 19, 241, 0.712));
    transition: all 0.5s ease;
    z-index: -1;
}
.edit-container .title button:hover:before
{
    height: 100%;
}
.edit-container .title button a
{
    text-decoration: none;
    color: white;
}
.edit-container form
{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.edit-container form input
{
    margin: auto;
    width: 100%;
    height: 35px;
    padding: 0px 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.2),-2px -2px 3px rgba(0,0,0,0.2);
}
.edit-container form .send-btn
{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0px;

}
.edit-container form .send-btn button
{
    padding: 10px 6rem;
    border-radius: 30px;
    border: none;
    background-color: rgba(88, 88, 230, 0.808);
    color: white;
    cursor: pointer;
    position: relative;
    transition: all 0.5s ease;
    z-index: 1;
    overflow: hidden;
    font-size: 16px;
}
.edit-container form .send-btn button::before
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 30px;
    background:linear-gradient(to left , rgba(49, 189, 245, 0.781),rgba(51, 18, 235, 0.74));
    transition: all 0.5s ease;
    z-index: -1;
}
.edit-container form .send-btn button:hover:before
{
    width: 100%;
}

/* Responsive */
@media (max-width:407px)
{
    .edit-container
    {
        width: 350px;
    }

}
@media (max-width:351px)
{
    .edit-container
    {
        width: 320px;
    }

}